.footer {
    background: #011627;
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    border-bottom: 6px solid #2ec4b6;
  }

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__left > h2 {
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer__left > h2::after {
    position: relative;
    content: "";
    display: block;
    width: 25%;
    margin-top: 10px;
    height: 4px;
    left: 0;
    text-align: left;
    background-color: #ff9f1c
}

.footer__adress {
    display: flex;
    flex-direction: row;
}

.adress > span {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.adress > p {
    color: #fff;
    font-weight: normal;
    text-align: left;
    font-size: 13px;
    line-height: 22px;
}

.adress {
    padding-right: 20px;
}

.footer__button {
    display: flex;
    flex-direction: column;
}

.footer__button > button {
    background-color: #ff9f1c;
    padding: 15px 5px 15px 5px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 14px;
    border-radius: 5px;
    margin-top: 20px;
    border: 0;
}

.contact:hover {
    background-color: #2ec4b6;
    cursor:pointer;
}

.footer__button > button > img {
    padding-right: 10px;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer__logo > .footer__logocol {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.footer__small {
    font-size: 11px;
    color: #fff;
    text-align: left;
    margin-bottom: 5px;
}


.footer__logo > img {
    padding-left: 10px;
    
}

@media only screen and (max-width: 978px) {
    .footer.left {
      display: inline;
    }
    .footer__button {
      max-width: 100%;  
    }
  }

  @media only screen and (max-width: 928px) {
    .footer {
      display: block;
    }
    .footer__adress {
      max-width: 100%; 
      justify-content:space-between; 
    }
    .footer__right {
        margin-top: 20px; 
      }
    .footer__logo {
        justify-content:space-between;
        max-width: 100%
    }
  }