main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
  }
  

  .main__title {
    display: flex;
    align-items: center;
  }
  
  .main__title > img {
    max-height: 300px;
    object-fit: contain;
    margin-right: 20px;
  }