@font-face {
  font-family: 'Ubuntu';
  src: url("../../assets/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("../../assets/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../../assets/fonts/ubuntu-medium-webfont.woff2") format("woff2"),
    url("../../assets/fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../../assets/fonts/ubuntu-bold-webfont.woff2") format("woff2"),
    url("../../assets/fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: 700;
}

span {
  font-family: 'Ubuntu';
}

main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
  }
  

  .main__title {
    display: flex;
    align-items: center;
  }
  
  .main__title > img {
    max-height: 300px;
    object-fit: contain;
    margin-right: 20px;
  }