.navbar {
    background: #ffffff;
    grid-area: nav;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
  }
  

  
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
  }

  .navbar__right > a:hover {
      color: #FF9F1C;
  }
  

  .navbar__flags > a > img{
    padding-left: 20px;
  }

  .navbar__cart > img {
      padding-right: 20px;
  }
  
  .navbar__account > a {
      text-decoration: none;
      display: flex;
      align-items: center;
  }

  .navbar__account > a > img{
      padding-right: 10px;
      color: #FF9F1C;
  }

  .navbar__account > a > span {
      padding-right: 20px;
      color: #7A7A7A;
      font-size: 13px;
      line-height: 15px;
      font-weight: normal;
  }

  .navbar__center {
    width: 40%
  }

  .navbar__search {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding-bottom: 4px;
  }

  .navbar__search > #header-search {
      border: 0;
      width: 100%;
  }

  .navbar__search > input:focus-visible {
    outline: none;
}

  .v-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
  @media only screen and (max-width: 978px) {
    .navbar {
      display: inline;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navbar {
      display: flex;
    }
    .navbar__line {
      display: none;
    }
    .navbar__flags {
      display: none;
    }
    .navbar__account {
      display: none;
    }
  }

